* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  position: relative;
  background-image: url("images/background.png");
  background-color: #FFF;
}

.container {
  max-width: 1023px;
  margin: 0 auto;
  padding: 0 10px;
}

#header {
  text-align: center;
}

#header h1 {
  font-size: 30px;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 40px;
}

#header p {
  color: #747474;
  margin-bottom: 40px;
}

#header p > a{
  text-decoration: none;
}

#header p > a:link,
#header p > a:hover,
#header p > a:visited,
#header p > a:focus {
  text-decoration: none;
  color: #8570FA;
}

#main-image img {
  width: 300px;
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
}

#search-section {
  text-align: center;
  margin-bottom: 100px;
  position: relative;
}

#search-section fieldset, 
#search-section legend {
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}

#search-section label {
  display: block;
  margin-bottom: 25px;
  font-weight: 400;
  color: #000;
}

#search-section #search-icon {
  width: 16px;
  position: absolute;
  bottom: 17px;
  left: 20px;
  z-index: 1;
}

#search-section input[type="text"] {
  display: block;
  width: 100%;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding-left: 46px;
  background: #FFFFFF;
  border: 1px solid rgba(0,0,0,0.10);
  box-shadow: 0 1px 10px 0 rgba(0,0,0,0.10);
  border-radius: 100px;
  margin: 0;
  outline: none;
}

#search-section ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(0,0,0,.20);
}

#search-section ::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(0,0,0,.20);
}

#search-section :-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(0,0,0,.20);
}

#search-section :-moz-placeholder {
  /* Firefox 18- */
  color: rgba(0,0,0,.20);
}

#search-section button[type="submit"] {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #5A3DFA;
  background: rgba(0,0,100,0);
  -webkit-box-shadow: -1px 0px 0px 0px rgba(0,0,0,0.10); 
  box-shadow: -1px 0px 0px 0px rgba(0,0,0,0.10);
  height: 50px;
  width: 105px; 
  border: 0;
  position: absolute;
  bottom: 0;
  right:0;
  z-index: 1;
}


/* Autocomplete */
.ui-helper-hidden-accessible {
  display: none;
}

.ui-autocomplete {
  position: absolute;
  cursor: default;
  margin: 0;
}

.ui-autocomplete-loading {
  background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat;
}

/* workarounds */
* html .ui-autocomplete {
  width: 1px;
  margin: 0;
}
/* without this, the menu expands to 100% in IE6 */

/* Menu */
.ui-menu {
  list-style: none;
  padding: 20px 0;
  margin: 0;
  display: block;
  width: 227px;
  border: 1px solid #d8d8d8;
  background: #FFF;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .3);
  border-radius: 0 0 5px 5px;
}

.ui-menu .ui-menu {
  margin-top: -3px;
}

.ui-menu .ui-menu-item {
  margin: 0;
  padding: 10px 0 10px 15px;
  width: 200px;
}

.ui-menu .ui-menu-item a {
  text-decoration: none;
  display: block;
  padding: 10px 0;
  line-height: 1.5;
  zoom: 1;
}

.ui-menu .ui-menu-item a.ui-state-hover, 
.ui-menu .ui-menu-item a.ui-state-active {
  margin: -1px;
}

.search-results .fail-statement {
  font-size: 36px;
  font-weight: 600;
  color: #999;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.search-results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.search-results .result-box {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid rgba(0,0,0,0.10);
  border-radius: 8px;
  box-shadow: 0 1px 10px 0 rgba(0,0,0,0.10);
  padding: 20px;
  margin-bottom: 15px;
  position: relative;
}

.search-results a {
  text-decoration: none;
}

.search-results .sketch-title {
  margin-bottom: 15px;
}

.search-results .sketch-title a:link {
  color: #000;
}

.search-results .sketch-description {
  padding-bottom: 30px;
  color: rgba(0,0,0,.70);
  height: 94px;
  margin-bottom: 40px;
  overflow-y: hidden;
  text-overflow: ellipsis;
}

.search-results .download-btn {
  width: 125px;
  background: #FFF;
  color: #5A3DFA;
  border: 1px solid rgba(0,0,0,.10);
  border-radius: 93px;
  font-size: 12px;
  font-weight: 600;
  margin: 0 auto;
  padding: 12px 0;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%, 0);
  transition-property: background;
  transition-duration: 1s;
  transition-timing-function: ease;
}

.search-results .result-box .cloud-icon {
  width: 18px;
  position: absolute;
  bottom: 11px;
  left: 12px;
}

.search-results .download-btn a:link {
  color: #5A3DFA;
  display: inline-block;
  margin-left: 40px;
}

.search-results .download-btn:hover,
.search-results .download-btn:visited,
.search-results .download-btn:focus {
  background: #F1F1F1;
}

/* Styling twitter section */
#twitter-section {
  margin-top: 40px;
}

#twitter-section .twitter-results {
  display: flex;
  justify-content: center;
}

#twitter-section .twitter-section-heading h2 {
  font-size: 16px;
  font-weight: 600;
  color: rgba(0,0,0,.30);
  letter-spacing: 1px;
  padding-bottom: 15px;
  text-align: left;
  text-transform: uppercase;
  text-align: center;
}

#twitter-section a:link {
  text-decoration: none;
}

#twitter-section .profile-url:link {
  color: #000;
}

#twitter-section .profile-msg {
  color: rgba(0,0,0,.70);
}

#twitter-section .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 15px;
  align-content: center;
}

#twitter-section .twitter-result-box {
  width: 100%;
  background: #FFF;
  border: 1px solid rgba(0,0,0,0.10);
  border-radius: 8px;
  box-shadow: 0 1px 10px 0 rgba(0,0,0,0.10);
  text-align: left;
  padding: 20px 20px 0 20px;
  overflow-y: hidden;
  text-overflow: ellipsis;
}

#twitter-section .twitter-result-box:last-child {
  margin-right: 0;
}

#twitter-section .avatar {
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 10px;
}

#twitter-section .twitter-result-box h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
}

#twitter-section .twitter-result-box .tweet-msg {
  font-weight: 400;
  margin-bottom: 30px;
}

#twitter-section .twitter-result-box .date {
  font-weight: 400;
  margin: 0;
  color: #505050;
}


/* Media Queries */
@media only screen and (min-width: 375px) {
  #header h1 {
    font-size: 40px;
    margin-bottom: 60px;
  }

  #header p {
    margin-bottom: 50px;
  }

  #main-image img {
    width: 320px;
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
  }

}

@media only screen and (min-width: 414px) {
  #header h1 {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 60px;
  }

  #header p {
    margin-bottom: 50px;
  }

  #main-image img {
    width: 414px;
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
  }

}

@media only screen and (min-width: 768px) {
  #header h1 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 40px;
  }

  #main-image img {
    width: 768px;
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  #twitter-section .twitter-result-box {
    padding: 20px 20px 0 20px;
    overflow-y: hidden;
    text-overflow: ellipsis;
  }

  #twitter-section .twitter-result-box .user-name {
    overflow-y: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

}

@media only screen and (min-width: 1024px) {
  .container {
    padding: 0 7.5px;
  }
  
  #header h1 {
    font-size: 58px;
    font-weight: 600;
  }

  .search-results .result-box {
    width: 331px;
    margin-right: 7.5px;
  }
  
  .search-results .result-box:nth-child(3n) {
    margin-right: 0;
  }

  .search-results .fail-statement {
    color: #999;
    display: block;
    margin: 80px auto;
    font-size: 36px;
    font-weight: 600;
  }

  .search-results .sketch-description {
    padding-bottom: 30px;
    color: rgba(0,0,0,.70);
    height: 120px;
    margin-bottom: 40px;
    overflow-y: hidden;
    text-overflow: ellipsis;
  }

  #twitter-section .row {
    flex-wrap: nowrap;
  }

  #twitter-section .twitter-result-box {
    width: 336px;
    margin-right: 7.5px;
    background: #FFF;
    border: 1px solid rgba(0,0,0,0.10);
    box-shadow: 0 1px 10px 0 rgba(0,0,0,0.10);
    border-radius: 8px;
    text-align: left;
    padding: 20px 20px 0 20px;
    overflow-y: hidden;
    text-overflow: ellipsis;
  }

  #twitter-section .twitter-result-box .user-name {
    overflow-y: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

}


